* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #333;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.topnav {
    min-height: 50px;
    background-color: #DADADA;
    position: fixed;
    top: 0;
    border: none;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        
}
  
.topnav li {
    float: left;
}

.topnav li a {
    color: black;
    text-align: center;
    padding: 16px;
}

li a {
    display: block;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color: #b6b6b6;
}

.topnav .active {
    background-color: #080808;
    color: white;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#heading-text p {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 5em;
}

.lamem-text {
    font: inherit;
    color: #A31F34;
    text-shadow: 2px 2px #f7f7f7, -2px -2px 0 #f7f7f7, 2px -2px #f7f7f7, -2px 2px 0 #f7f7f7;
}

.sidenav {
    height: 100%;
    width: 200px;
    background-color:#f5f5f5;
    border: 1px solid #e3e3e3;
    position: fixed;
    top: 50px;
    z-index: 1;
    overflow-y: auto;
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#leftmenu {
    padding: 12px;
}

#leftmenu li a {
    padding: 12px;
    /* border: 1px solid black; */  
}

#leftmenu li a:hover:not(.active) {
    background-color: #b6b6b6;
}

#leftmenu .active {
    color: #A31F34;
    text-decoration: underline;
    font-weight: bold;
}

.places_categories {
    display: block;
    margin-left: 10px;
    background-color: #eeecec;
    font-size: 15px;
    line-height:  1.2em;
}

.tut_overview {
    background-color: #eeecec;
}


#heading-text .big-text {
    color: #FFFFFF;
    opacity: 1.0;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 5em;
    margin-bottom: 0;
}

#heading-text .info {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.info a {
    color: white;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

#heading-text {
    vertical-align: middle;
    display: table-cell;
}

.page-heading {
    width: 100%;
    margin: 0;
    display: table; 
    background: url("../images/places2_collage_black.jpg") repeat center center;
    text-align: center;
    padding: 48px 0px;
    min-height: 200px;
}

.gallery {
    margin: 10px 10px 10px 250px;
}

.gallery img {
    width: 200px;
    padding: 5px;
    transition: 0.2s;
    opacity: 0.85;
}

.gallery img:hover {
    transform: scale(1.1);
    opacity: 1.0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#main-content {
    padding-left: 0;
    padding-right: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

